* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: #fff;
  color: royalblue;
}
ul li.active a {
  background-color: #fff;
  color: #000;
}

#logo img {
  margin-top: -55px;
  float: left;
  width: 200px;
  height: auto;
}

.main {
  max-width: 80%;
  margin: 0 auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Center h1 */
}

.title h1 {
  font-size: 35px;
  text-align: center;
  color: #fff;
}
.button {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  border: 1px solid #fff;
  margin: 5px;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 00.6s ease;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Boxes */
h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.btn-box {
  text-align: center;
  border: 1px solid #fff;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px 10px;
  background-color: rgb(93, 100, 202);
  color: #fff;
  text-decoration: none;
  transition: 00.6s ease;
}

.btn-box:hover {
  background-color: rgb(3, 3, 3);
  color: rgb(248, 245, 245);
}
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px;
}

#boxes .box img {
  width: 400px;
  height: 400px;
  padding: 20px;
}

footer {
  padding: 30px;
  margin-top: 20px;
  color: #fff;
  background-color: rgb(37, 35, 35);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

footer span {
  background-color: red;
}

/* Gradient Button */
.gradient-button {
  margin: 10px;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
}
.gradient-button-1:hover {
  background-position: right center;
}
